{% extends "landing.layout.html" %}

{% load static %}

{% block 'body' %}
<div class="card mb-3 d-flex align-items-center" style="width: 100%;height: 76vh; border: none;">
    <div class="row g-0" style="height: 76vh;">
          <div class="col-md-6 align-self-center">
              <img src="{%  static 'images/pets.png' %}" width="453px">
          </div>
          <div class="col-md-6 align-self-center" style="display: table-cell; vertical-align: middle;">
              <div class="card-body">
                  <h2 class="card-title">Acerca de nosotros<br>Somos Pet Lovers</h2>
                  <p class="card-text">Vivimos para buscar y distribuir productos que agreguen calidad y bienestar a las mascotas y animales en general.</p>
                  <p class="card-text"><small class="text-muted">los mejores del mercado</small></p>
                  <p class="card-text"><small class="text-muted">los mejores del mercado</small></p>
                  <p class="card-text"><small class="text-muted">los mejores del mercado</small></p>
              </div>
          </div>
      </div>
  </div>
{% endblock %}