{% extends "landing.layout.html" %}

{% load static %}

{% block 'body' %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 w-50 mx-auto pt-5">
        <div class="col">
          <div class="card border-0 shadow">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="btn" href="/tienda">Alimentos para perros</a></li>
                <li class="list-group-item"><a class="btn" href="/tienda">Alimentos para gatos</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 shadow">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="btn" href="/tienda">Juguetes</a></li>
                <li class="list-group-item"><a class="btn" href="/tienda">Comedores</a></li>
                <li class="list-group-item"><a class="btn" href="/tienda">Collares</a></li>
                <li class="list-group-item"><a class="btn" href="/tienda">Farmacia</a></li>
            </ul>
          </div>
        </div>
      </div>
</div>
{% endblock %}